:root {
  --text-color: #26577c;
  --background-color: #27005d;
}
body {
  text-align: center;
  background-color: var(--background-color);
  font-family: "Press Start 2P", cursive;
}

.heading {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 3%;
  color: var(--text-color);
  text-shadow: 5px 5px black;
}
#new-game {
  cursor: pointer;
  transition: text-shadow 0.3s ease-in-out;
}
#new-game:hover {
  text-shadow: 5px 5px aquamarine;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  height: max-content;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 5px solid black;
  border-radius: 20%;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 5px 5px black;
}
.btn:hover {
  opacity: 70%;
  box-shadow: 10px 10px black;
}

.game-over {
  background-color: red;
  box-shadow: 5px 5px black;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.copyright_text {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: var(--text-color);
}
.copyright_text a {
  text-decoration: none;
  color: var(--text-color);
}

@media only screen and (max-width: 1080px) {
  #level_title {
    font-size: 400%;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn {
    margin: 25px;
    display: inline-block;
    height: 30vw;
    width: 30vw;
    border: 10px solid black;
    border-radius: 20%;
  }
}
